<section class="blackout">
  <div
    class="blinds-list-container d-sm-flex d-none justify-content-center align-items-center"
  >
    <ch5-list
      id="blackout-horiz-list"
      orientation="horizontal"
      size="4"
      indexId="idx"
      receivestatesize="BlackoutListSize"
    >
      <template>
        <span class="window-label">Window #{{idx}} </span>

        <div class="slider-container blackout-container container">
          <!-- Blackout done with ch5-slider -->
          <ch5-slider
            class="left-slider"
            nohandle="true"
            min="0"
            max="50"
            receivestatevalue="Rooms.Blinds.LeftBlackoutValue"
          >
          </ch5-slider>
          <ch5-slider
            class="right-slider"
            nohandle="true"
            min="0"
            max="50"
            receivestatevalue="Rooms.Blinds.RightBlackoutValue"
          >
          </ch5-slider>
        </div>
        <div class="open-close-btn-container mt-3">
          <div class="open-close-btn">
            <ch5-button
              class="open-horiz-blackout-button"
              id="open_blind"
              label="Open"
              onclick=""
              shape="circle"
              stretch="both"
              sendeventonclick="Rooms.Blinds.OpenBlackout"
              receivestateselected="Blinds.OpenBlackoutIsSelected"
            >
            </ch5-button>
            <ch5-button
              class="stop-horiz-blackout-button"
              id="stop_blind"
              label="Stop"
              shape="circle"
              stretch="both"
              sendeventonclick="Rooms.Blinds.StopBlackout"
              receivestateselected="Blinds.StopBlackoutIsSelected"
            >
            </ch5-button>
            <ch5-button
              class="close-horiz-blackout-button"
              id="close_blind"
              label="Close"
              onclick=""
              shape="circle"
              stretch="both"
              sendeventonclick="Rooms.Blinds.CloseBlackout"
              receivestateselected="Blinds.CloseBlackoutIsSelected"
            >
            </ch5-button>
          </div>
        </div>
      </template>
    </ch5-list>
  </div>
</section>
