<section id="blackout" class="blackout">
  <div
    class="blinds-list-container d-sm-flex d-none justify-content-center align-items-center"
  >
    <ch5-list
      id="blackout-horiz-list"
      receivestatesize="Curtains.BlackOutListSizeEMU"
      orientation="horizontal"
      indexId="idx"
    >
      <template>
        <span
          class="window-label"
          data-ch5-textcontent="Curtains.Blind[{{idx}}].Name"
          >Window Name</span
        >

        <div class="slider-container blackout-container container">
          <!-- Blackout done with ch5-slider -->
          <ch5-slider
            class="left-slider"
            nohandle="true"
            min="0"
            max="65535"
            receivestatevalue="Curtains.Blind[{{idx}}].LeftBlackoutValueEMU"
          >
          </ch5-slider>
          <ch5-slider
            class="right-slider"
            nohandle="true"
            min="0"
            max="65535"
            receivestatevalue="Curtains.Blind[{{idx}}].RightBlackoutValueEMU"
          >
          </ch5-slider>
        </div>
        <div class="open-close-btn-container mt-3">
          <div class="open-close-btn">
            <ch5-button
              class="open-horiz-blackout-button"
              id="open_blind"
              label="Open"
              onclick=""
              shape="circle"
              stretch="both"
              sendeventonclick="Curtains.Blind[{{idx}}].OpenBlackoutEMU"
              receivestateselected="Curtains.Blind[{{idx}}].OpenBlackoutFbEMU"
            >
            </ch5-button>
            <ch5-button
              class="stop-horiz-button"
              id="stop_blind"
              label="Stop"
              shape="circle"
              stretch="both"
              sendeventonclick="Curtains.Blind[{{idx}}].StopBlackoutEMU"
              receivestateselected=""
            >
            </ch5-button>
            <ch5-button
              class="close-horiz-blackout-button"
              id="close_blind"
              label="Close"
              onclick=""
              shape="circle"
              stretch="both"
              sendeventonclick="Curtains.Blind[{{idx}}].CloseBlackoutEMU"
              receivestateselected="Curtains.Blind[{{idx}}].CloseBlackoutFbEMU"
            >
            </ch5-button>
          </div>
        </div>
      </template>
    </ch5-list>
  </div>
</section>
