<section id="inactivity-page" class="inactivity-page">
    <div class="row">
        <div class="col-12 time-container d-flex justify-content-center">
            <h1 id="" data-ch5-textcontent="1" receiveStateLabel="1"></h1>
        </div>
        <div class="col-12 date-container d-flex justify-content-center">
            <span d="" data-ch5-textcontent="2" receiveStateLabel="2"></span>
        </div>
        <div class="col-12 room-temp-container d-flex justify-content-center">
            <h4 class="mt-1">Room Temp: &nbsp;</h4>
            <h2 id="room-temp-index" data-ch5-textcontent="ClimateArea[0].RoomTempString"></h2>
            <h3 class="mr-3">ºC</h3>
            <h4 class="mt-1">Humidity: &nbsp;</h4>
            <h2 id="humidity-index" data-ch5-textcontent="ClimateArea[0].HumidityString"></h2>
            <h3>%</h3>
        </div>
        <hr />
        <div class="col-12 weather-container d-flex justify-content-center">
            <h4 class="mt-1">Outside Temp: &nbsp;</h4>
            <h2 id="" data-ch5-textcontent="WeatherStation.AirTemp_C" label="ReceiveLabelFromSignal" receiveStateLabel="36"></h2>
            <h3 class="mr-3">ºC</h3>
            <h4 class="mt-1">Humidity: &nbsp;</h4>
            <h2 id="" data-ch5-textcontent="WeatherStation.Humidity" receiveStateLabel="37">60</h2>
            <h3 class="mr-3">%</h3>
            <h4 class="mt-1">Wind: &nbsp;</h4>
            <h2 id="" data-ch5-textcontent="WeatherStation.WindSpeed" receiveStateLabel="38">15</h2>
            <h3 class="mr-2">km/h &nbsp;</h3>
            <h2 id="" data-ch5-textcontent="WeatherStation.WindDirection" receiveStateLabel="39">N/E</h2>
        </div>

    </div>
</section>