<section id="historical-average-page" class="historical-average">
  <div class="navbar-text">
    <div class="room-info pt-2 text-uppercase text-white">
      <!-- <span class="d-sm-block">Weather Station</span> -->
      <h2 class="mb-0">Historical Average</h2>
    </div>
  </div>
  <div class="weather-st-btn-container dropup">
    <button
      class="btn btn-lg weather-station-btn dropdown-toggle"
      type="button"
      onclick=""
      id="weatherStationBtn"
    >
      <span>WEATHER STATION</span>
    </button>
  </div>
  <div class="main-container">
    <div class="average-switch-btn d-flex justify-content-center" id="">
      <ch5-button
        id="hourly-btn"
        label="Hourly"
        size="regular"
        shape="rectangle"
        sendeventonclick="HistAverage.Triggerview.ShowHourly"
        receiveStateSelected="HistAverage.Triggerview.HourlyIsShown"
      >
      </ch5-button>
      <ch5-button
        id="daily-btn"
        label="Daily"
        size="regular"
        shape="rectangle"
        sendeventonclick="HistAverage.Triggerview.ShowDaily"
        receiveStateSelected="HistAverage.Triggerview.DailyIsShown"
      >
      </ch5-button>
      <ch5-button
        id="weekly-btn"
        label="Weekly"
        size="regular"
        shape="rectangle"
        sendeventonclick="HistAverage.Triggerview.ShowWeekly"
        receiveStateSelected="HistAverage.Triggerview.WeeklyIsShown"
      >
      </ch5-button>
      <ch5-button
        id="yearly-btn"
        label="Monthly"
        size="regular"
        shape="rectangle"
        sendeventonclick="HistAverage.Triggerview.ShowMonthly"
        receiveStateSelected="HistAverage.Triggerview.MonthlyIsShown"
      >
      </ch5-button>
    </div>
    <ch5-triggerview
      id="hist-avg-triggerview"
      activeview="0"
      gestureable="false"
      class="hist-avg-triggerview"
      disableanimation="false"
    >
      <ch5-triggerview-child
        receivestateshow="HistAverage.Triggerview.HourlyIsShown"
      >
      <section id="average-templ-page" class="average-templ">
        <div class="average-list-container">
          <ch5-list
            size="30"
            orientation="horizontal"
            indexid="idx"
            receivestatesize="HistAverage.HourlyListSize"
          >
            <template>
              <div class="avg-slider-container">
                <ch5-slider
                  orientation="vertical"
                  size="small"
                  toolTipShowType="on"
                  toolTipDisplayType="value"
                  min="0"
                  max="60"
                  sendeventonchange=""
                  receivestatevalue="HistAverage.Hourly[{{idx}}]"
                >
                </ch5-slider>
      
                <span>{{idx}}</span>
              </div>
            </template>
          </ch5-list>
        </div>
      </section>
        <!-- <ch5-import-htmlsnippet
          url="./components/average-templ/average-templ.html"
          class="avg-templ"
        >
        </ch5-import-htmlsnippet> -->
      </ch5-triggerview-child>

      <ch5-triggerview-child
        receivestateshow="HistAverage.Triggerview.DailyIsShown"
      >
      <section id="average-templ-page" class="average-templ">
        <div class="average-list-container">
          <ch5-list
            size="30"
            orientation="horizontal"
            indexid="idx"
            receivestatesize="HistAverage.DailyListSize"
          >
            <template>
              <div class="avg-slider-container">
                <ch5-slider
                  orientation="vertical"
                  size="small"
                  toolTipShowType="on"
                  toolTipDisplayType="value"
                  min="0"
                  max="60"
                  sendeventonchange=""
                  receivestatevalue="HistAverage.Daily[{{idx}}]"
                >
                </ch5-slider>
      
                <span>{{idx}}</span>
              </div>
            </template>
          </ch5-list>
        </div>
      </section>
      
      </ch5-triggerview-child>

      <ch5-triggerview-child
        receivestateshow="HistAverage.Triggerview.WeeklyIsShown"
      >
      <section id="average-templ-page" class="average-templ">
        <div class="average-list-container">
          <ch5-list
            size="30"
            orientation="horizontal"
            indexid="idx"
            receivestatesize="HistAverage.WeeklyListSize"
          >
            <template>
              <div class="avg-slider-container">
                <ch5-slider
                  orientation="vertical"
                  size="small"
                  toolTipShowType="on"
                  toolTipDisplayType="value"
                  min="0"
                  max="60"
                  sendeventonchange=""
                  receivestatevalue="HistAverage.Weekly[{{idx}}]"
                >
                </ch5-slider>
      
                <span>{{idx}}</span>
              </div>
            </template>
          </ch5-list>
        </div>
      </section>
      </ch5-triggerview-child>

      <ch5-triggerview-child
        receivestateshow="HistAverage.Triggerview.MonthlyIsShown"
      >
      <section id="average-templ-page" class="average-templ">
        <div class="average-list-container">
          <ch5-list
            size="30"
            orientation="horizontal"
            indexid="idx"
            receivestatesize="HistAverage.MonthlyListSize"
          >
            <template>
              <div class="avg-slider-container">
                <ch5-slider
                  orientation="vertical"
                  size="small"
                  toolTipShowType="on"
                  toolTipDisplayType="value"
                  min="0"
                  max="60"
                  sendeventonchange=""
                  receivestatevalue="HistAverage.Monthly[{{idx}}]"
                >
                </ch5-slider>
      
                <span>{{idx}}</span>
              </div>
            </template>
          </ch5-list>
        </div>
      </section>
      </ch5-triggerview-child>
    </ch5-triggerview>
  </div>
</section>
 
