<section class="main-section">
  <!-- Header start -->
  <nav
    id="main-navbar"
    class="navbar navbar-dark navbar-default fixed-top"
    onclick=""
  >
    <ch5-import-htmlsnippet
      id="room-list-templ"
      url="./components/room-list-templ/room-list-templ.html"
    ></ch5-import-htmlsnippet>
    <ch5-import-htmlsnippet
      id="time-weather-info"
      url="./components/time-weather-info/time-weather-info.html"
    ></ch5-import-htmlsnippet>

    <ch5-import-htmlsnippet
      id="menu"
      url="./components/menu/menu.html"
    ></ch5-import-htmlsnippet>
  </nav>
  <!-- Header end -->
  <ch5-background
    receivestateurl="common_background_url"
    url="./assets/img/ch5-stone-light-bg.jpg"
  ></ch5-background>
  <ch5-triggerview
    class="triggerview-main triggerview"
    gestureable="false"
    disableanimation="true"
  >
    <!-- Blinds start -->
    <ch5-triggerview-child>
      <ch5-import-htmlsnippet
        class="blinds-page"
        url="./components/blinds-page/blinds-page.html"
      >
      </ch5-import-htmlsnippet>
    </ch5-triggerview-child>
    <!-- Blinds end -->
    <!-- Lighting start -->
    <ch5-triggerview-child>
      <ch5-import-htmlsnippet
        class="lighting-page"
        url="./components/lighting/lighting.html"
      >
      </ch5-import-htmlsnippet>
    </ch5-triggerview-child>
    <!-- Lighting end -->
    <!-- Climate start -->
    <ch5-triggerview-child>
      <ch5-import-htmlsnippet
        class="climate-page"
        url="./components/climate-page/climate-page.html"
      ></ch5-import-htmlsnippet>
    </ch5-triggerview-child>
    <!-- Climate end -->
    <!-- Music start -->
    <ch5-triggerview-child>
      <ch5-import-htmlsnippet
        class="source-page"
        url="./components/music-page/music-page.html"
      >
      </ch5-import-htmlsnippet>
    </ch5-triggerview-child>
    <!-- Music end -->
    <!-- Weather Station start -->
    <ch5-triggerview-child>
      <ch5-import-htmlsnippet
        class="weather-page"
        url="./components/weather-page/weather-page.html"
      >
      </ch5-import-htmlsnippet>
    </ch5-triggerview-child>
    <!-- Weather Station end -->
  </ch5-triggerview>
  <ch5-list
    class="swiper-thumb"
    orientation="horizontal"
    maxHeight="auto"
    indexId="idx"
    itemHeight="100%"
    scrollbar="true"
    receiveStateSize="Menu.NumberOfItems"
  >
    <template>
      <div class="horizontal-list-item">
        <ch5-button
          customClass="thumb-btn-{{idx}}"
          type="text"
          shape="tab"
          receiveStateSelected="active_state_class_{{idx}}"
          receiveStateLabel="nav_label_{{idx}}"
          iconurl="./assets/img/navigation/nav_icon_{{idx}}.svg"
          iconPosition="bottom"
          receivestateshow=""
        ></ch5-button>
      </div>
    </template>
  </ch5-list>
  <a class="thumb-action" onclick="appModule.openThumbNav()" id="floatingArrow"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 12 24"
    >
      <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z" /></svg
  ></a>
</section>
