<section id="blinds-one-window-page" class="">
  <div class="windows-container" id="windows-container">
    <div class="window-shades-container">
      <span class="window-label">Shades </span>

      <div class="slider-container shades-container container">
        <ch5-slider
          class="left-slider"
          nohandle="true"
          min="0"
          max="65535"
          receivestatevalue="Curtains.Blind[0].LeftShadeValue"
        >
        </ch5-slider>
        <ch5-slider
          class="right-slider"
          nohandle="true"
          min="0"
          max="65535"
          receivestatevalue="Curtains.Blind[0].RightShadeValue"
        >
        </ch5-slider>
      </div>
      <div class="open-close-btn-container mt-3">
        <div class="open-close-btn" id="horizontal-buttons">
          <ch5-button
            class="open-horiz-shades-button"
            id="open-shades-horizontal-{{idx}}"
            label="Open"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].OpenShades"
            receivestateselected="Curtains.Blind[0].OpenShadesFb"
          >
          </ch5-button>
          <ch5-button
            class="stop-horiz-button"
            id="stop-shades-horizontal-{{idx}}"
            label="Stop"
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].StopShades"
            receivestateselected=""
          >
          </ch5-button>
          <ch5-button
            class="close-horiz-shades-button"
            id="close-shades-horizontal-{{idx}}"
            label="Close"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].CloseShades"
            receivestateselected="Curtains.Blind[0].CloseShadesFb"
          >
          </ch5-button>
        </div>
      </div>
    </div>
    <div class="window-blackout-container">
      <span class="window-label">Blackout </span>

      <div class="slider-container blackout-container container">
        <ch5-slider
          class="left-slider"
          nohandle="true"
          min="0"
          max="65535"
          receivestatevalue="Curtains.Blind[0].LeftBlackoutValue"
        >
        </ch5-slider>
        <ch5-slider
          class="right-slider"
          nohandle="true"
          min="0"
          max="65535"
          receivestatevalue="Curtains.Blind[0].RightBlackoutValue"
        >
        </ch5-slider>
      </div>
      <div class="open-close-btn-container mt-3">
        <div class="open-close-btn" id="horizontal-buttons">
          <ch5-button
            class="open-horiz-shades-button"
            id="open-shades-horizontal-{{idx}}"
            label="Open"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].OpenBlackout"
            receivestateselected="Curtains.Blind[0].OpenBlackoutFb"
          >
          </ch5-button>
          <ch5-button
            class="stop-horiz-button"
            id="stop-shades-horizontal-{{idx}}"
            label="Stop"
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].StopBlackout"
            receivestateselected=""
          >
          </ch5-button>
          <ch5-button
            class="close-horiz-shades-button"
            id="close-shades-horizontal-{{idx}}"
            label="Close"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].CloseBlackout"
            receivestateselected="Curtains.Blind[0].CloseBlackoutFb"
          >
          </ch5-button>
        </div>
      </div>
    </div>
  </div>
</section>
