<section id="blinds-one-window-page" class="">
  <div class="windows-container" id="windows-container">
    <div class="window-shades-container">
      <span class="window-label">Shades </span>

      <div class="slider-container shades-container container">
        <ch5-slider
          class="left-slider"
          nohandle="true"
          min="0"
          max="65553"
          receivestatevalue="Curtains.Blind[0].LeftShadeValueEMU"
        >
        </ch5-slider>
        <ch5-slider
          class="right-slider"
          nohandle="true"
          min="0"
          max="65553"
          receivestatevalue="Curtains.Blind[0].RightShadeValueEMU"
        >
        </ch5-slider>
      </div>
      <div class="open-close-btn-container mt-4">
        <div class="open-close-btn" id="horizontal-buttons">
          <ch5-button
            class="open-horiz-shades-button"
            id="open-shades-horizontal-{{idx}}"
            label="Open"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].OpenShadesEMU"
            receivestateselected="Curtains.Blind[0].OpenShadesFbEMU"
          >
          </ch5-button>
          <ch5-button
            class="stop-horiz-button"
            id="stop-shades-horizontal-{{idx}}"
            label="Stop"
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].StopShadesEMU"
            receivestateselected=""
          >
          </ch5-button>
          <ch5-button
            class="close-horiz-shades-button"
            id="close-shades-horizontal-{{idx}}"
            label="Close"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].CloseShadesEMU"
            receivestateselected="Curtains.Blind[0].CloseShadesFbEMU"
          >
          </ch5-button>
        </div>
      </div>
    </div>
    <div class="window-blackout-container">
      <span class="window-label">Blackout </span>

      <div class="slider-container blackout-container container">
        <ch5-slider
          class="left-slider"
          nohandle="true"
          min="0"
          max="65553"
          receivestatevalue="Curtains.Blind[0].LeftBlackoutValueEMU"
        >
        </ch5-slider>
        <ch5-slider
          class="right-slider"
          nohandle="true"
          min="0"
          max="65553"
          receivestatevalue="Curtains.Blind[0].RightBlackoutValueEMU"
        >
        </ch5-slider>
      </div>
      <div class="open-close-btn-container mt-4">
        <div class="open-close-btn" id="horizontal-buttons">
          <ch5-button
            class="open-horiz-shades-button"
            id="open-shades-horizontal-{{idx}}"
            label="Open"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].OpenBlackoutEMU"
            receivestateselected="Curtains.Blind[0].OpenBlackoutFbEMU"
          >
          </ch5-button>
          <ch5-button
            class="stop-horiz-button"
            id="stop-shades-horizontal-{{idx}}"
            label="Stop"
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].StopBlackoutEMU"
            receivestateselected=""
          >
          </ch5-button>
          <ch5-button
            class="close-horiz-shades-button"
            id="close-shades-horizontal-{{idx}}"
            label="Close"
            onclick=""
            shape="circle"
            stretch="both"
            sendeventonclick="Curtains.Blind[0].CloseBlackoutEMU"
            receivestateselected="Curtains.Blind[0].CloseBlackoutFbEMU"
          >
          </ch5-button>
        </div>
      </div>
    </div>
  </div>
</section>
