<section class="examples-container">
  <nav class="navbar navbar-dark">
    <div class="navbar-text">
      <div class="room-info text-uppercase">
        <span class="d-sm-block" data-ch5-i18n="-+lighting.title+-"
          >Lighting</span
        >
        <!-- <h2 class="mb-0" data-ch5-textcontent="Rooms.SelectedRoomName">
          Room Name
        </h2> -->
        <div class="dropdown area-selection-dropdown">
          <ch5-button
            id="lightingAreaDropdownBtn"
            class="dropdown-toggle area-dropdown-btn"
            label="AREAS"
            onclick="lightingModule.openAreaDropdown()"
            receivestatelabel="Areas.SelectedAreaName"
          >
          </ch5-button>
          <div
            id="lighting-area-dropdown"
            onclick="musicPageModule.dropDownStopPropagation()"
            class="dropdown-menu area-list-container"
          >
            <ch5-list
              orientation="vertical"
              class="ch5-custom-list mt-2"
              indexid="idx"
              receivestatesize="Areas.NumberOfAreas"
              minHeight="60px"
              maxHeight="250px"
              minwidth="200px"
              scrollbar="true"
            >
              <template>
                <div class="vertical-list-item">
                  <ch5-button
                    customClass=""
                    type="text"
                    stretch="width"
                    label="Area"
                    onclick="lightingModule.closeAreaDropdown()"
                    shape="rectangle"
                    sendeventonclick="Areas.Area[{{idx}}].Select"
                    receivestatelabel="Areas.Area[{{idx}}].Name"
                    receivestateselected="Areas.Area[{{idx}}].IsSelected"
                  >
                  </ch5-button>
                </div>
              </template>
            </ch5-list>
          </div>
        </div>
      </div>
    </div>
    <!-- <ch5-list class="ch5-custom-list dim">
      <template>
        <div class="dim-buttons">
          <div class="d-flex align-items-center">
            <ch5-button
              class="lighting-button dim-btn"
              shape="circle"
              sendeventonclick="61"
              
              iconclass="fas fa-caret-down "
            ></ch5-button>
            <h3 class="p-2 text-white">Dim</h3>
            <ch5-button
              class="lighting-button dim-btn"
              shape="circle"
              sendeventontouch="60"
              iconclass="fas fa-caret-up "
            ></ch5-button>
          </div>
        </div>
      </template>
    </ch5-list> -->

    <div class="navbar-action">
      <button
        class="navbar-toggler d-md-none sidebar-toggler-btn"
        type="button"
        onclick=""
      >
        <span class=""><i class="fas fa-caret-left mr-1"></i>SCENES</span>
      </button>
    </div>
  </nav>
  <div class="row no-gutters">
    <div class="col-sm-10">
      <ch5-list
        class="ch5-custom-list lighting-list"
        minHeight="50px"
        maxheight="100%"
        itemWidth="100%"
        orientation="vertical"
        indexId="idx"
        scrollbar="true"
        receiveStateSize="Lights.NumberOfLights"
      >
        <template>
          <div class="vertical-list-item">
            <span
              class="light-name-label"
              data-ch5-textcontent="Lights.DimmableLight[{{idx}}].NameOfLight"
              >Light Label</span
            >
            <div class="d-flex align-items-center">
              <ch5-button
                class="lighting-button"
                shape="circle"
                sendeventonclick="Lights.DimmableLight[{{idx}}].TurnLightOff"
                iconurl="./assets/img/lighting/fa-icon-lightbulb.svg"
              ></ch5-button>
              <ch5-slider
                class="lighting-slider"
                stretch="width"
                handleShape="circle"
                toolTipShowType="auto"
                sendEventOnChange="Lights.DimmableLight[{{idx}}].SetLightLevel"
                receiveStateValue="Lights.DimmableLight[{{idx}}].LightLevel"
                orientation="horizontal"
              ></ch5-slider>
              <ch5-button
                class="lighting-button"
                shape="circle"
                sendEventOnClick="Lights.DimmableLight[{{idx}}].TurnLightOn"
                iconClass="fas fa-lightbulb"
              >
              </ch5-button>
            </div>
          </div>
        </template>
      </ch5-list>
    </div>
    <aside
      class="col-sm-2 lighting-sidebar"
      id="lightingSidebar"
      onclick="dropDownStopPropagation()"
    >
      <ch5-select
        class="sidebar ch5-custom-select lighting-sidebar-select"
        mode="panel"
        maxWidth="none"
        indexId="idx"
        minheight="auto"
        maxheight="100%"
        minwidth="80px"
        maxwidth="90px"
        receiveStateSize="Lights.NumberOfScenes"
        receiveStateValue="NotDefinedOnPurpose"
        signalValueSyncTimeout="3000"
        panelScrollHeight="300"
      >
        <template>
          <ch5-select-option
            sendEventOnClick="Lights.Scene[{{idx}}].TriggerStartScene"
          >
            <span data-ch5-textContent="Lights.Scene[{{idx}}].NameOfScene"
              >Scene Label</span
            >
          </ch5-select-option>
        </template>
      </ch5-select>
    </aside>
  </div>
</section>
