<section class="blinds-page" id="blinds-page-page">
    <div class="navbar-text">
        <div class="room-info pt-2 text-uppercase text-white">
            <span class="d-sm-block">Blinds</span>
            <h2 class="mb-0" data-ch5-textcontent="Rooms.SelectedRoomName">
                Room Name
            </h2>
        </div>
    </div>
    <div class="blackout-shades-btn" id="blackout-shades-btn">
        <ch5-button selected="false" id="shades-btn" label="Shades" size="regular" shape="rectangle" sendeventonclick="Rooms.Blinds.ShowShades" receiveStateSelected="Rooms.Blinds.ShadesAreShown">
        </ch5-button>
        <ch5-button id="blackout-btn" label="Blackout" size="regular" shape="rectangle" sendeventonclick="Rooms.Blinds.ShowBlackout" receiveStateSelected="Rooms.Blinds.BlackoutAreShown">
        </ch5-button>
        <ch5-button id="all-btn" label="All" size="regular" shape="rectangle" sendeventonclick="Rooms.Blinds.ShowAll" receiveStateSelected="Rooms.Blinds.AllAreShown">
        </ch5-button>
    </div>

    <hr />
    <ch5-triggerview id="shades-blackout-triggerview" activeview="0" gestureable="false" class="">
        <ch5-triggerview-child receivestateshow="Rooms.Blinds.ShadesAreShown">
            <ch5-import-htmlsnippet url="./components/shades/shades.html" class="shades-templ">
            </ch5-import-htmlsnippet>
        </ch5-triggerview-child>
        <ch5-triggerview-child receivestateshow="Rooms.Blinds.BlackoutAreShown">
            <ch5-import-htmlsnippet url="./components/blackout/blackout.html" class="blackout-templ">
            </ch5-import-htmlsnippet>
        </ch5-triggerview-child>
        <ch5-triggerview-child receivestateshow="Rooms.Blinds.AllAreShown">
            <ch5-import-htmlsnippet url="./components/all-shades-blackout/all-shades-blackout.html" class="all-shades-blackout-templ">
            </ch5-import-htmlsnippet>
        </ch5-triggerview-child>
    </ch5-triggerview>

    <!-- Next block is for shades and blackout when one window in the room -->
    <div class="windows-container" id="windows-container">
        <div class="window-shades-container">
            <span class="window-label">Shades </span>

            <div class="slider-container shades-container container">
                <ch5-slider class="left-slider" nohandle="true" min="0" max="50" receivestatevalue="Room.Blinds.LeftShadeValue">
                </ch5-slider>
                <ch5-slider class="right-slider" nohandle="true" min="0" max="50" receivestatevalue="Room.Blinds.RightShadeValue">
                </ch5-slider>
            </div>
            <div class="open-close-btn-container mt-4">
                <div class="open-close-btn" id="horizontal-buttons">
                    <ch5-button class="open-horiz-shades-button" id="open-shades-horizontal-{{idx}}" label="Open" onclick="" shape="circle" stretch="both" sendeventonclick="Room.Blinds.OpenShades" receivestateselected="Blinds.OpenShadesIsSelected">
                    </ch5-button>
                    <ch5-button class="stop-horiz-shades-button" id="stop-shades-horizontal-{{idx}}" label="Stop" shape="circle" stretch="both" sendeventonclick="Room.Blinds.StopShades" receivestateselected="Blinds.StopShadesIsSelected">
                    </ch5-button>
                    <ch5-button class="close-horiz-shades-button" id="close-shades-horizontal-{{idx}}" label="Close" onclick="" shape="circle" stretch="both" sendeventonclick="Room.Blinds.CloseShades" receivestateselected="Blinds.CloseShadesIsSelected">
                    </ch5-button>
                </div>
            </div>
        </div>
        <div class="window-blackout-container">
            <span class="window-label">Blackout </span>

            <div class="slider-container blackout-container container">
                <ch5-slider class="left-slider" nohandle="true" min="0" max="50" receivestatevalue="Room.Blinds.LeftBlackoutValue">
                </ch5-slider>
                <ch5-slider class="right-slider" nohandle="true" min="0" max="50" receivestatevalue="Room.Blinds.RightBlackoutValue">
                </ch5-slider>
            </div>
            <div class="open-close-btn-container mt-4">
                <div class="open-close-btn" id="horizontal-buttons">
                    <ch5-button class="open-horiz-shades-button" id="open-shades-horizontal-{{idx}}" label="Open" onclick="" shape="circle" stretch="both" sendeventonclick="Room.Blinds.OpenBlackout" receivestateselected="Blinds.OpenBlackoutIsSelected">
                    </ch5-button>
                    <ch5-button class="stop-horiz-shades-button" id="stop-shades-horizontal-{{idx}}" label="Stop" shape="circle" stretch="both" sendeventonclick="Room.Blinds.StopBlackout" receivestateselected="Blinds.StopBlackoutIsSelected">
                    </ch5-button>
                    <ch5-button class="close-horiz-shades-button" id="close-shades-horizontal-{{idx}}" label="Close" onclick="" shape="circle" stretch="both" sendeventonclick="Room.Blinds.CloseBlackout" receivestateselected="Blinds.CloseBlackoutIsSelected">
                    </ch5-button>
                </div>
            </div>
        </div>
    </div>
</section>