<section class="blinds-page" id="blinds-page-page">
  <div class="navbar-text">
    <div class="room-info pt-2 text-uppercase text-white">
      <span class="d-sm-block">Blinds</span>
      <h2 class="mb-0" data-ch5-textcontent="Rooms.SelectedRoomName">
        Room Name
      </h2>
    </div>
  </div>
  <ch5-import-htmlsnippet
    url="./components/blinds-buttons/blinds-buttons.html"
    class="blinds-buttons"
    receivestateshow="Curtains.ShowButtons"
  >
  </ch5-import-htmlsnippet>
  <hr />

  <ch5-import-htmlsnippet
    url="./components/blinds-triggerview/blinds-triggerview.html"
    class="blinds-triggerview"
    receivestateshow="Curtains.ShowTriggerview"
  >
  </ch5-import-htmlsnippet>

  <!-- Next block is for shades and blackout when one window in the room -->
  <ch5-import-htmlsnippet
    url="./components/blinds-one-window/blinds-one-window.html"
    class="blinds-one-window"
    receivestateshow="Curtains.ShowOneWindow"
  >
  </ch5-import-htmlsnippet>
</section>
