<section id="blinds-buttons-page" class="">
  <div class="blackout-shades-btn" id="blackout-shades-btn">
    <ch5-button
      selected="false"
      id="shades-btn"
      label="Shades"
      size="regular"
      shape="rectangle"
      sendeventonclick="Curtains.SelectShades"
      receiveStateSelected="Curtains.ShadesSelected"
    >
    </ch5-button>
    <ch5-button
      id="blackout-btn"
      label="Blackout"
      size="regular"
      shape="rectangle"
      sendeventonclick="Curtains.SelectBlackout"
      receiveStateSelected="Curtains.BlackoutSelected"
    >
    </ch5-button>
    <ch5-button
      id="all-btn"
      label="All"
      size="regular"
      shape="rectangle"
      sendeventonclick="Curtains.SelectAll"
      receiveStateSelected="Curtains.AllSelected"
    >
    </ch5-button>
  </div>
</section>
