<section id="blinds-buttons-page" class="">
  <div class="blackout-shades-btn" id="blackout-shades-btn">
    <ch5-button
      id="shades-btn"
      label="Shades"
      size="regular"
      shape="rectangle"
      sendeventonclick="Curtains.SelectShadesEMU"
      receiveStateSelected="Curtains.ShadesSelectedEMU"
    >
    </ch5-button>
    <ch5-button
      id="blackout-btn"
      label="Blackout"
      size="regular"
      shape="rectangle"
      sendeventonclick="Curtains.SelectBlackoutEMU"
      receiveStateSelected="Curtains.BlackoutSelectedEMU"
    >
    </ch5-button>
    <ch5-button
      id="all-btn"
      label="All"
      size="regular"
      shape="rectangle"
      sendeventonclick="Curtains.SelectAllEMU"
      receiveStateSelected="Curtains.AllSelectedEMU"
    >
    </ch5-button>
  </div>
</section>
