<section id="shades" class="shades">
  <div
    class="blinds-list-container d-sm-flex d-none justify-content-center align-items-center"
  >
    <ch5-list
      receivestatesize="Curtains.ShadesListSize"
      orientation="horizontal"
      indexId="idx"
      id="shades-horiz-list"
    >
      <template>
        <span
          class="window-label"
          data-ch5-textcontent="Curtains.Blind[{{idx}}].Name"
          >Window Name
        </span>

        <div class="slider-container shades-container container">
          <!-- Shades done with ch5-slider -->
          <ch5-slider
            class="left-slider"
            nohandle="true"
            min="0"
            max="65535"
            receivestatevalue="Curtains.Blind[{{idx}}].LeftShadeValue"
          >
          </ch5-slider>
          <ch5-slider
            class="right-slider"
            nohandle="true"
            min="0"
            max="65535"
            receivestatevalue="Curtains.Blind[{{idx}}].RightShadeValue"
          >
          </ch5-slider>
        </div>
        <div class="open-close-btn-container">
          <div class="open-close-btn" id="horizontal-buttons">
            <ch5-button
              class="open-horiz-shades-button"
              id="open-shades-horizontal-{{idx}}"
              label="Open"
              onclick=""
              shape="circle"
              stretch="both"
              sendeventonclick="Curtains.Blind[{{idx}}].OpenShades"
              receivestateselected="Curtains.Blind[{{idx}}].OpenShadesFb"
            >
            </ch5-button>
            <ch5-button
              class="stop-horiz-button"
              id="stop-shades-horizontal-{{idx}}"
              label="Stop"
              shape="circle"
              stretch="both"
              sendeventonclick="Curtains.Blind[{{idx}}].StopShades"
              receivestateselected=""
            >
            </ch5-button>
            <ch5-button
              class="close-horiz-shades-button"
              id="close-shades-horizontal-{{idx}}"
              label="Close"
              onclick=""
              shape="circle"
              stretch="both"
              sendeventonclick="Curtains.Blind[{{idx}}].CloseShades"
              receivestateselected="Curtains.Blind[{{idx}}].CloseShadesFb"
            >
            </ch5-button>
          </div>
        </div>
      </template>
    </ch5-list>
  </div>
</section>
