<section id="average-templ-page" class="average-templ">
  <div class="average-list-container">
    <ch5-list size="10" orientation="horizontal" indexid="idx">
      <template>
        <div class="avg-slider-container">
          <ch5-slider
            orientation="vertical"
            size="small"
            value="25"
            toolTipShowType="on"
            nohandle="true"
            min="0"
            max="60"
            sendeventonchange=""
            receivestatevalue=""
          >
          </ch5-slider>
        </div>
        <span>Hour {{idx}}</span>
      </template>
    </ch5-list>
  </div>
</section>
