<section id="blinds-triggerview-page" class="">
  <div>
    <ch5-import-htmlsnippet
      class="shades-templ"
      url="./components/shades/shades.html"
      receivestateshow="Curtains.ShadesSelected"
      noshowtype="display"
    >
    </ch5-import-htmlsnippet>

    <ch5-import-htmlsnippet
      class="blackout-templ"
      url="./components/blackout/blackout.html"
      receivestateshow="Curtains.BlackoutSelected"
      noshowtype="display"
    >
    </ch5-import-htmlsnippet>
    <ch5-import-htmlsnippet
      class="all-shades-blackout-templ"
      url="./components/all-shades-blackout/all-shades-blackout.html"
      receivestateshow="Curtains.AllSelected"
      noshowtype="display"
    >
    </ch5-import-htmlsnippet>
  </div>
</section>
