<div class="windows-container" id="">
  <div class="window-shades-container">
    <span class="window-label">Shades </span>

    <div class="slider-container shades-container container">
      <ch5-slider
        class="left-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Rooms.Blinds.LeftShadeValue"
      >
      </ch5-slider>
      <ch5-slider
        class="right-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Rooms.Blinds.RightShadeValue"
      >
      </ch5-slider>
    </div>
    <div class="open-close-btn-container mt-4">
      <div class="open-close-btn" id="horizontal-buttons">
        <ch5-button
          class="open-horiz-shades-button"
          id="open-shades-horizontal-{{idx}}"
          label="Open"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Rooms.Blinds.OpenShades"
          receivestateselected="Blinds.OpenShadesIsSelected"
        >
        </ch5-button>
        <ch5-button
          class="stop-horiz-shades-button"
          id="stop-shades-horizontal-{{idx}}"
          label="Stop"
          shape="circle"
          stretch="both"
          sendeventonclick="Rooms.Blinds.StopShades"
          receivestateselected="Blinds.StopShadesIsSelected"
        >
        </ch5-button>
        <ch5-button
          class="close-horiz-shades-button"
          id="close-shades-horizontal-{{idx}}"
          label="Close"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Rooms.Blinds.CloseShades"
          receivestateselected="Blinds.CloseShadesIsSelected"
        >
        </ch5-button>
      </div>
    </div>
  </div>
  <div class="window-blackout-container">
    <span class="window-label">Blackout </span>

    <div class="slider-container blackout-container container">
      <ch5-slider
        class="left-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Rooms.Blinds.LeftBlackoutValue"
      >
      </ch5-slider>
      <ch5-slider
        class="right-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Rooms.Blinds.RightBlackoutValue"
      >
      </ch5-slider>
    </div>
    <div class="open-close-btn-container mt-4">
      <div class="open-close-btn" id="horizontal-buttons">
        <ch5-button
          class="open-horiz-shades-button"
          id="open-shades-horizontal-{{idx}}"
          label="Open"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Rooms.Blinds.OpenBlackout"
          receivestateselected="Blinds.OpenBlackoutIsSelected"
        >
        </ch5-button>
        <ch5-button
          class="stop-horiz-shades-button"
          id="stop-shades-horizontal-{{idx}}"
          label="Stop"
          shape="circle"
          stretch="both"
          sendeventonclick="Rooms.Blinds.StopBlackout"
          receivestateselected="Blinds.StopBlackoutIsSelected"
        >
        </ch5-button>
        <ch5-button
          class="close-horiz-shades-button"
          id="close-shades-horizontal-{{idx}}"
          label="Close"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Rooms.Blinds.CloseBlackout"
          receivestateselected="Blinds.CloseBlackoutIsSelected"
        >
        </ch5-button>
      </div>
    </div>
  </div>
</div>
