<div class="windows-container" id="">
  <div class="window-shades-container">
    <span class="window-label">Shades </span>

    <div class="slider-container shades-container container">
      <ch5-slider
        class="left-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Curtains.AllBlinds.LeftShadeValue"
      >
      </ch5-slider>
      <ch5-slider
        class="right-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Curtains.AllBlinds.RightShadeValue"
      >
      </ch5-slider>
    </div>
    <div class="open-close-btn-container mt-4">
      <div class="open-close-btn" id="horizontal-buttons">
        <ch5-button
          class="open-horiz-shades-button"
          id="open-shades-horizontal-{{idx}}"
          label="Open"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Curtains.AllBlinds.OpenShades"
          receivestateselected="Curtains.AllBlinds.OpenShadesFb"
        >
        </ch5-button>
        <ch5-button
          class="stop-horiz-shades-button"
          id="stop-shades-horizontal-{{idx}}"
          label="Stop"
          shape="circle"
          stretch="both"
          sendeventonclick="Curtains.AllBlinds.StopShades"
          receivestateselected="Blinds.StopShadesIsSelected"
        >
        </ch5-button>
        <ch5-button
          class="close-horiz-shades-button"
          id="close-shades-horizontal-{{idx}}"
          label="Close"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Curtains.AllBlinds.CloseShades"
          receivestateselected="Curtains.AllBlinds.CloseShadesFb"
        >
        </ch5-button>
      </div>
    </div>
  </div>
  <div class="window-blackout-container">
    <span class="window-label">Blackout </span>

    <div class="slider-container blackout-container container">
      <ch5-slider
        class="left-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Curtains.AllBlinds.LeftBlackoutValue"
      >
      </ch5-slider>
      <ch5-slider
        class="right-slider"
        nohandle="true"
        min="0"
        max="50"
        receivestatevalue="Curtains.AllBlinds.RightBlackoutValue"
      >
      </ch5-slider>
    </div>
    <div class="open-close-btn-container mt-4">
      <div class="open-close-btn" id="horizontal-buttons">
        <ch5-button
          class="open-horiz-shades-button"
          id="open-shades-horizontal-{{idx}}"
          label="Open"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Curtains.AllBlinds.OpenBlackout"
          receivestateselected="Curtains.AllBlinds.OpenBlackoutFb"
        >
        </ch5-button>
        <ch5-button
          class="stop-horiz-shades-button"
          id="stop-shades-horizontal-{{idx}}"
          label="Stop"
          shape="circle"
          stretch="both"
          sendeventonclick="Curtains.AllBlinds.StopBlackout"
          receivestateselected=""
        >
        </ch5-button>
        <ch5-button
          class="close-horiz-shades-button"
          id="close-shades-horizontal-{{idx}}"
          label="Close"
          onclick=""
          shape="circle"
          stretch="both"
          sendeventonclick="Curtains.AllBlinds.CloseBlackout"
          receivestateselected="Curtains.AllBlinds.CloseBlackoutFb"
        >
        </ch5-button>
      </div>
    </div>
  </div>
</div>
